@font-face {
  font-family: 'DigitalFont';
  src: url('../fonts/DS-DIGIT.TTF');
}
html,body{
  background-color: rgb(26, 26, 26);
  color:white;
  overflow-y: hidden;
}

.digital-font{
  font-family: 'DigitalFont';
}

:root {
  --card-bg-color: rgb(0 55 77);
  --card-header-color: rgb(255, 255, 255);
}

.el-form-item__label{
  color :rgb(211, 211, 211);
  font-weight: bold;
}

.el-form-item__content{
  font-size: large;
}
